body {
background-color:#54BAB9;

}
hr {
  background-color:#54BAB9;
  border-style:none;
    border-top-style: dotted;
    border-color:#CA955C;
   border-width: 5px;
   width:5%; 
 }
  img{
    height:200px
  }
